    body {
        font-family: 'Nunito Sans', sans-serif;
    }
    
    .pagination-lgg .page-link {
        padding: .5rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
    }
    p {
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 300;
        color: #4a4a4a;
        line-height: 24px;
    }
    
    a {
        text-decoration: none!important;
    }
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .text-center {
        text-align: center;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0px;
    }
    
    #preloader {
        overflow: hidden;
        background: #f33f3f;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        z-index: 9999999;
        color: #fff;
    }
    
    #preloader .jumper {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: absolute;
        margin: auto;
        width: 50px;
        height: 50px;
    }
    
    #preloader .jumper>div {
        background-color: #fff;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        animation-fill-mode: both;
        position: absolute;
        opacity: 0;
        width: 50px;
        height: 50px;
        animation: jumper 1s 0s linear infinite;
    }
    
    #preloader .jumper>div:nth-child(2) {
        animation-delay: 0.33333s;
    }
    
    #preloader .jumper>div:nth-child(3) {
        animation-delay: 0.66666s;
    }
    
    @keyframes jumper {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        5% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    header {
        position: absolute;
        z-index: 99999;
        width: 100%;
        height: 80px;
        background-color: #232323;
        transition: all 0.3s ease-in-out 0s;
    }
    
    header .navbar {
        padding: 0;
        height: 80px;
    }
    
    .dropdown-menu {
        background: rgba(0, 0, 0, 0.2) !important;
    }
    
    .dropdown-menu .dropdown-item {
        padding: 5px 13px !important;
    }
    
    .dropdown-menu a {
        line-height: 1.3;
        color: #fff;
        font-weight: 500;
    }
    
    .dropdown-menu a.active,
    .dropdown-menu a:hover {
        background: transparent;
        color: #ed563b!important;
        transition: .7s;
    }
    
    .background-header .navbar {
        padding: 10px 0px;
    }
    
    .background-header {
        top: 0;
        position: fixed;
        background-color: #fff!important;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    }
    
    .background-header .navbar-brand h2 {
        color: #121212!important;
    }
    
    .background-header .navbar-nav a.nav-link {
        color: #1e1e1e!important;
    }
    
    .background-header .navbar-nav span {
        color: #1e1e1e!important;
    }
    
    .background-header .navbar-nav .dropdown-menu {
        background: #fff !important;
    }
    
    .background-header .dropdown-menu a {
        line-height: 1.3;
        color: black;
        font-weight: 500;
    }
    
    .background-header .navbar-nav .nav-link:hover,
    .background-header .navbar-nav .active>.nav-link,
    .background-header .navbar-nav .nav-link.active,
    .background-header .navbar-nav .nav-link.show,
    .background-header .navbar-nav .show>.nav-link {
        color: #f33f3f!important;
    }
    
    .navbar .navbar-brand {
        float: left;
        outline: none;
        width: 17%;
    }
    
    .navbar .navbar-brand img {
        width: 100%;
        height: 80px;
        object-fit: cover;
    }
    
    #navbarResponsive {
        z-index: 999;
    }
    
    .navbar-collapse {
        text-align: center;
        height: 80px;
    }
    
    .navbar .navbar-nav .nav-item {
        margin: 0px 25px;
    }
    
    .navbar .search_icon {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9;
        background: #FF4A52;
        width: 90px;
    }
    
    .navbar .search_icon a {
        text-align: center;
        color: #fff;
        width: 100%;
        height: 100%;
        display: block;
    }
    
    .navbar .search_icon a i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .custom_search_pop .modal-content .serch_form {
        position: relative;
    }
    
    .custom_search_pop .modal-content .serch_form .input_search {
        width: 100%;
        height: 70px;
        background: #fff;
        border: none;
        padding-left: 20px;
        color: #000;
        font-size: 15px;
        padding-right: 120px;
    }
    
    .custom_search_pop .modal-content .serch_form .input_search::placeholder {
        color: #000;
        font-size: 15px;
    }
    
    .custom_search_pop .modal-content .serch_form .input_search:focus {
        outline: none;
    }
    
    .custom_search_pop .modal-content .serch_form .button {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        height: 100%;
        padding: 20px;
        color: #fff;
        background: #FF4A52;
        display: inline-block;
        border: none;
        line-height: 50px;
        height: 70px;
        padding: 0 30px;
        cursor: pointer;
    }
    
    .modal::before {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 1062;
        opacity: 1;
        position: fixed;
        content: '';
        opacity: .8;
        z-index: -1;
    }
    
    .navbar .navbar-nav a.nav-link {
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #fff;
        transition: all 0.5s;
        margin-top: 5px;
    }
    
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active>.nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show>.nav-link {
        color: #fff;
        padding-bottom: 15px;
        border-bottom: 2px solid #f33f3f;
    }
    
    .navbar .navbar-toggler-icon {
        background-image: none;
    }
    
    .navbar .navbar-toggler {
        border-color: #fff;
        background-color: #fff;
        height: 36px;
        outline: none;
        border-radius: 0px;
        position: absolute;
        right: 30px;
        top: 20px;
    }
    
    .navbar .navbar-toggler-icon:after {
        content: '\f0c9';
        color: #f33f3f;
        font-size: 18px;
        line-height: 26px;
        font-family: 'FontAwesome';
    }
    
    .banner {
        position: relative;
        text-align: center;
        padding-top: 80px;
    }
    
    .banner-item-01 {
        padding: 300px 0px;
        background-image: url(../images/banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .banner-item-02 {
        padding: 300px 0px;
        background-image: url(../images/banner2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .banner-item-03 {
        padding: 300px 0px;
        background-image: url(../images/banner3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .banner .banner-item {
        max-height: 600px;
    }
    
    .banner .text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
    }
    
    .banner .text-content h4 {
        color: #f33f3f;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .banner .text-content h2 {
        color: #fff;
        font-size: 62px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    
    .owl-banner .owl-dots .owl-dot {
        border-radius: 3px;
    }
    
    .owl-banner .owl-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
    }
    
    .owl-banner .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 10px;
        background-color: #fff;
        opacity: 0.5;
    }
    
    .owl-banner .owl-dots .owl-dot:focus {
        outline: none
    }
    
    .owl-banner .owl-dots .owl-dot.active {
        background-color: #fff;
        opacity: 1;
    }
    
    #our-classes {
        margin-bottom: 50px;
    }
    
    .section-heading {
        text-align: center;
        margin: 30px 0px;
    }
    
    .section-heading h2 {
        font-size: 28px;
        font-weight: 800;
        color: #232d39;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .section-heading h2 em {
        font-style: normal;
        color: #ed563b;
    }
    
    .section-heading img {
        margin: 20px auto;
    }
    
    #tabs ul {
        margin: 0;
        padding: 0;
    }
    
    #tabs ul li {
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;
    }
    
    #tabs ul li:last-child {
        margin-bottom: 0px;
    }
    
    #tabs ul li a {
        text-transform: capitalize;
        width: 100%;
        padding: 30px 30px;
        display: inline-block;
        background-color: #fff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 19px;
        color: #232d39;
        letter-spacing: 0.5px;
        font-weight: 600;
        transition: all 0.3s;
        outline: none;
    }
    
    #tabs .main-rounded-button a {
        text-align: center;
        padding: 12px 20px;
        width: 100%;
        border-radius: 5px;
        display: inline-block;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        color: #fff;
        font-size: 19px;
        letter-spacing: 0.5px;
        font-weight: 600;
        background-color: #ed563b;
    }
    
    #tabs .main-rounded-button a:hover {
        background-color: #f9735b;
    }
    
    #tabs ul li a .fa {
        font-size: 32px;
        height: 32px;
        color: #ed563b;
        margin-right: 15px;
        display: inline-block;
    }
    
    #tabs ul .ui-tabs-active span {
        background: #faf5b2;
        border: #faf5b2;
        line-height: 90px;
        border-bottom: none;
    }
    
    #tabs ul .ui-tabs-active a {
        color: #ed563b;
    }
    
    #tabs ul .ui-tabs-active span {
        color: #1e1e1e;
    }
    
    .tabs-content {
        margin-left: 30px;
        text-align: left;
        display: inline-block;
        transition: all 0.3s;
    }
    
    .tabs-content img {
        max-width: 100%;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .tabs-content h4 {
        font-size: 23px;
        font-weight: 700;
        color: #232d39;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    
    .tabs-content p {
        font-size: 14px;
        color: #7a7a7a;
        margin-bottom: 28px;
    }
    
    .main-button .fillter {
        display: inline-block;
        font-size: 15px;
        background-color: #ed563b;
        color: #fff;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        transition: all .3s;
        height: 100%;
        margin-bottom: 0;
    }
    
    .main-button .fillter:hover {
        background-color: #f9735b;
        color: #fff;
    }
    
    #trainers {
        padding-bottom: 50px;
    }
    
    .box-baidang {
        width: calc(25% - 20px);
        float: left;
        margin-right: 20px;
        height: 90%;
    }
    
    #trainers .trainer-item {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin-bottom: 30px;
        height: 380px;
    }
    
    #trainers .trainer-item img {
        width: 100%;
        border-radius: 5px;
        height: 150px;
        object-fit: cover;
    }
    
    #trainers .trainer-item span {
        font-size: 14px;
        font-weight: 500;
        color: #ed563b;
        display: inline-block;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    
    #trainers .trainer-item h4 {
        font-size: 16px;
        font-weight: 600;
        color: #232d39;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
    }
    
    #trainers .trainer-item p {
        margin-bottom: 5px;
    }
    
    ul.social-icons li {
        display: inline-block;
        margin-right: 12px;
    }
    
    ul.social-icons li:last-child {
        margin-right: 0px;
    }
    
    ul.social-icons li a {
        color: #232d39;
        transition: all .3s;
    }
    
    ul.social-icons li a:hover {
        color: #ed563b;
    }
    
    #location {
        padding-bottom: 50px;
    }
    
    #location .single_location {
        position: relative;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        transition: 0.3s;
        margin: 10px;
    }
    
    #location .special {
        height: 95.5%;
    }
    
    #location .special .thumb {
        height: 100% !important;
    }
    
    #location .single_location::before {
        background-image: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 1.7) 100%);
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
    }
    
    #location .single_location .thumb {
        width: 100%;
        height: 200px;
    }
    
    #location .single_location .thumb img {
        width: 100%;
        border-radius: 5px;
        height: 100%;
        object-fit: cover;
    }
    
    #location .single_location .content {
        position: absolute;
        left: 15px;
        bottom: 30px;
        z-index: 7;
    }
    
    #location .special .content p {
        font-size: 25px !important;
    }
    
    #location .special .content p a {
        font-size: 15px !important;
    }
    
    #location .single_location .content p {
        margin-bottom: 0;
        font-size: 13px;
        color: #fff;
        font-weight: 400;
        transition: 0.3s;
    }
    
    #location .single_location .content p a {
        display: inline-block;
        background: #1EC6B6;
        font-size: 9px;
        border-radius: 30px;
        font-weight: 400;
        padding: 0px 12px;
        height: 25px;
        line-height: 25px;
        color: #fff;
        margin-left: 10px;
        transition: 0.3s;
        text-decoration: none;
    }
    
    #location .single_location:hover {
        transform: translateY(-10px);
    }
    
    #location .single_location:hover .content p {
        color: #FF4A52;
        transition: 0.3s;
    }
    
    #location .single_location:hover .content p a {
        background: #FF4A52;
        color: #fff;
    }
    
    .social-share {
        display: flex;
        justify-content: start;
        height: 5rem;
    }
    
    .social-item {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
    }
    
    .social-item--facebook {
        background-color: #3b5999;
    }
    
    .social-item--twitter {
        background-color: #55acee;
    }
    
    .social-item--telegram {
        background-color: #0077b5;
    }
    
    .social-item--linkedin {
        background-color: #007ee5;
    }
    
    .grid-image {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px 100px 300px;
        grid-gap: 25px;
    }
    
    .image-item {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .image-item:first-child {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    
    .image-item:nth-child(2),
    .image-item:nth-child(3) {
        grid-row: 1/3;
    }
    
    .image-item:nth-child(4),
    .image-item:nth-child(5) {
        grid-row: 2/-1;
    }
    
    .image-item:last-child {
        grid-column: 3/-1;
    }
    
    @media screen and (max-width: 767px) {
        .grid-image {
            grid-template-rows: 100px 20px 100px;
            grid-gap: 10px;
        }
    }
    
    .card img {
        border-radius: 20px;
    }
    
    .auth {
        display: block;
    }
    
    .auth-child {
        width: 400px;
        font-size: 10pt;
        float: right;
        color: rgb(87, 81, 81);
    }
    
    footer {
        background-color: #232323;
        padding: 80px 0px;
        color: #fff;
    }
    
    footer img {
        width: 80%;
        height: 80px;
        object-fit: cover;
        margin-top: -25px;
    }
    
    footer p {
        color: #fff;
    }
    
    footer ul.social-icons {
        margin-top: 25px;
    }
    
    footer ul.social-icons li {
        display: inline-block;
        margin-right: 5px;
    }
    
    footer ul.social-icons li:last-child {
        margin-right: 0px;
    }
    
    footer ul.social-icons li a {
        width: 34px;
        height: 34px;
        display: inline-block;
        line-height: 34px;
        text-align: center;
        background-color: #fff;
        color: #232323;
        border-radius: 50%;
        transition: all 0.3s;
    }
    
    footer ul.social-icons li a:hover {
        background-color: #a4c639;
    }
    
    footer ul.menu-list li {
        margin-bottom: 13px;
    }
    
    footer ul.menu-list li:last-child {
        margin-bottom: 0px;
    }
    
    footer ul.menu-list li a {
        font-size: 14px;
        color: #fff;
        transition: all 0.3s;
    }
    
    footer ul.menu-list li a:hover {
        color: #a4c639;
    }
    
    footer .contact-form input {
        border-radius: 20px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        padding: 0px 15px;
        color: #aaa!important;
        background-color: #343434;
        font-size: 13px;
        text-transform: none;
        box-shadow: none;
        border: none;
        margin-bottom: 15px;
    }
    
    footer .contact-form input:focus {
        outline: none;
        box-shadow: none;
        border: none;
        background-color: #343434;
    }
    
    footer .contact-form textarea {
        border-radius: 20px;
        height: 120px;
        max-height: 200px;
        min-height: 120px;
        display: inline-block;
        padding: 15px;
        color: #aaa!important;
        background-color: #343434;
        font-size: 13px;
        text-transform: none;
        box-shadow: none;
        border: none;
        margin-bottom: 15px;
        resize: none;
    }
    
    footer .contact-form textarea:focus {
        outline: none;
        box-shadow: none;
        border: none;
        background-color: #343434;
    }
    
    footer .contact-form ::placeholder {
        color: #aaa;
    }
    
    footer .contact-form button.filled-button {
        background-color: transparent;
        color: #fff;
        background-color: #a4c639;
        border: none;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 12px 30px;
        border-radius: 30px;
        display: inline-block;
        transition: all 0.3s;
        outline: none;
        box-shadow: none;
        text-shadow: none;
        cursor: pointer;
    }
    
    footer .contact-form button.filled-button:hover {
        background-color: #fff;
        color: #a4c639;
    }
    
    .sub-footer {
        background-color: #343434;
        text-align: center;
        padding: 25px 0px;
    }
    
    .sub-footer p {
        color: #fff;
        font-weight: 300;
        letter-spacing: 0.5px;
    }
    
    .sub-footer a {
        color: #fff;
    }
    
    .section-bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .section-bg:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(35, 45, 57, 0.8);
    }
    
    .section-bg>form,
    .section-bg .container {
        position: relative;
        z-index: 2
    }
    
    .contact-form select,
    .contact-form input,
    .contact-form textarea {
        color: #7a7a7a;
        font-size: 13px;
        border: 1px solid #ddd;
        background-color: #fff;
        width: 100%;
        height: 40px;
        outline: none;
        line-height: 40px;
        padding: 0px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-bottom: 30px;
    }
    
    .contact-form textarea {
        height: 150px;
        resize: none;
    }
    
    .contact-form ::placeholder {
        color: #7a7a7a;
    }
    
    .contact-form button {
        display: inline-block;
        font-size: 13px;
        padding: 11px 17px;
        background-color: #ed563b;
        color: #fff;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        transition: all .3s;
        border: none;
        outline: none;
        margin-top: -8px;
    }
    
    .contact-form button:hover {
        background-color: #f9735b;
    }
    
    #call-to-action {
        padding: 120px 0px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
    
    .cta-content h2 {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        letter-spacing: 1px;
    }
    
    .cta-content h2 em {
        font-style: normal;
        color: #ed563b;
    }
    
    .cta-content p {
        font-size: 16px;
        color: #fff;
        margin: 15px 0px 25px 0px;
    }
    
    .pagination-lg .page-link {
        color: #ed563b;
    }
    
    .button-black-next,
    .button-black-prev,
    .button-black-indicators {
        filter: invert(100%);
    }
    
    .button-black-next,
    .button-black-prev {
        margin-bottom: 80px;
    }
    
    .button-black-next {
        margin-right: -96px;
    }
    
    .button-black-prev {
        margin-left: -100px;
    }
    
    .mt-bannerbaidang {
        margin-top: 80px;
    }
    
    .mt-bannerbaidang img {
        height: 580px;
        object-fit: cover;
    }
    
    .boxcenter {
        width: 85%;
        margin: 0 auto;
    }
    
    .section2 {
        margin: 0 auto;
    }
    
    .section2 .sign-up {
        text-align: center;
        padding: 30px 0px;
        color: rgb(0, 0, 0);
    }
    
    .section2 .form-transparent {
        background-color: white;
        width: 100%;
    }
    
    .section2 .form {
        width: 450px;
        margin: auto;
    }
    
    .section2 label {
        font-size: 15px;
    }
    
    .section2 .box {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        padding: 12px 10px;
        margin: 8px 0;
    }
    
    .section2 .form .submit {
        width: 90px;
        padding: 10px;
        border: none;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    .section2 .form .submit:hover {
        width: 90px;
        padding: 10px;
        border: none;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    input {
        outline: none !important;
    }
    
    .price-grid {
        margin-bottom: 3em;
    }
    
    .priceing-table-main {
        width: 100%;
        margin: 0 auto;
    }
    
    .priceing-table h3 {
        color: #fff;
    }
    
    .price-block {
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
        transition: 0.5s all;
    }
    
    .price-block:hover {
        transform: scale(1.1);
        z-index: 1;
    }
    
    .price-gd-bottom {
        background: #fff;
        text-align: center;
        padding: 1em 0em;
    }
    
    .price-gd-top h3 {
        padding: 0.2em 0em 0.1em 0em;
        font-size: 35px;
        color: #fff;
    }
    
    .price-gd-top h5 {
        font-size: 1em;
        color: #fff;
        padding: 0.2em 0em 0.8em 0em;
    }
    
    .price-gd-top {
        background: #ecb412;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
    }
    
    .price-gd-top h4 {
        font-size: 20px;
        color: #fff;
        padding: 0.4em 1em;
        background: #d29d05;
        border-radius: 5px 5px 0px 0px;
    }
    
    .price-gd-top.pric-clr2 h4 {
        background: #7d1e4a;
    }
    
    .price-gd-top.pric-clr2 {
        background: #96285b;
    }
    
    .price-selet.pric-sclr2 a {
        background: #7d1e4a;
    }
    
    .price-selet {
        padding: 1em 0em;
        text-align: center;
        background: #fff;
        border-radius: 0px 0px 5px 5px;
    }
    
    .price-selet a {
        font-size: 0.9em;
        color: #ffffff;
        display: inline-block;
        padding: 0.5em 1.5em;
        background: #d29d05;
        border-radius: 3px;
    }
    
    .price-selet a:hover {
        color: #ffffff;
    }
    
    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #1FB264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824B;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .file-upload-btn:hover {
        background: #1AA059;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-content1,
    .file-upload-content2,
    .file-upload-content3,
    .file-upload-content4,
    .file-upload-content5,
    .file-upload-content6,
    .file-upload-content-anhdaidien {
        display: none;
        text-align: center;
    }
    
    .file-upload-input1,
    .file-upload-input2,
    .file-upload-input3,
    .file-upload-input4,
    .file-upload-input5,
    .file-upload-input6,
    .file-upload-input-anhdaidien {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    
    .image-upload-wrap1,
    .image-upload-wrap2,
    .image-upload-wrap3,
    .image-upload-wrap4,
    .image-upload-wrap5,
    .image-upload-wrap6,
    .image-upload-wrap-anhdaidien {
        margin-top: 20px;
        border: 4px dashed #1FB264;
        position: relative;
    }
    
    .image-dropping,
    .image-upload-wrap1:hover,
    .image-upload-wrap2:hover,
    .image-upload-wrap3:hover,
    .image-upload-wrap4:hover,
    .image-upload-wrap5:hover,
    .image-upload-wrap6:hover,
    .image-upload-wrap-anhdaidien:hover {
        background-color: #1FB264;
        border: 4px dashed #ffffff;
    }
    
    .image-title-wrap1,
    .image-title-wrap2,
    .image-title-wrap3,
    .image-title-wrap4,
    .image-title-wrap5,
    .image-title-wrap6,
    .image-title-wrap-anhdaidien {
        padding: 0 15px 15px 15px;
        color: #222;
    }
    
    .drag-text {
        text-align: center;
    }
    
    .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #15824B;
        padding: 60px 0;
    }
    
    .file-upload-image1,
    .file-upload-image2,
    .file-upload-image3,
    .file-upload-image4,
    .file-upload-image5,
    .file-upload-image6,
    .file-upload-image-anhdaidien {
        max-height: 200px;
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }
    
    .remove-image1,
    .remove-image2,
    .remove-image3,
    .remove-image4,
    .remove-image5,
    .remove-image6,
    .remove-image-anhdaidien {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .remove-image1hover,
    .remove-image2:hover,
    .remove-image3:hover,
    .remove-image4:hover,
    .remove-image5:hover,
    .remove-image6:hover,
    .remove-image-anhdaidien:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .remove-image1:active,
    .remove-image2:active,
    .remove-image3:active,
    .remove-image4:active,
    .remove-image5:active,
    .remove-image6:active,
    .remove-image-anhdaidien:active {
        border: 0;
        transition: all .2s ease;
    }
    /* ****** Thông tin mô tả ****** */
    
    .big-container {
        margin: auto;
        width: 80%;
    }
    
    .thongtinmota h2 {
        font-size: 1.5rem;
    }
    
    .thongtinmota p {
        font-weight: 400;
        font-size: 14pt;
    }