body {
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
}

a {
    text-decoration: none!important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

#preloader {
    overflow: hidden;
    background: #f33f3f;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    animation-delay: 0.66666s;
}

@keyframes jumper {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

header {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 80px;
    background-color: #232323;
    transition: all 0.3s ease-in-out 0s;
}

header .navbar {
    padding: 0;
    height: 80px;
}

.background-header .navbar {
    padding: 10px 0px;
}

.background-header {
    top: 0;
    position: fixed;
    background-color: #fff!important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-brand h2 {
    color: #121212!important;
}

.background-header .navbar-nav a.nav-link {
    color: #1e1e1e!important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #f33f3f!important;
}

.navbar .navbar-brand {
    float: left;
    outline: none;
    width: 17%;
}

.navbar .navbar-brand img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

#navbarResponsive {
    z-index: 999;
}

.navbar-collapse {
    text-align: center;
    height: 80px;
}

.navbar .navbar-nav .nav-item {
    margin: 0px 20px;
}

.navbar .navbar-nav .dn {
    margin-right: 0px;
}

.navbar .navbar-nav .dk {
    margin-left: 0px;
}

.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #fff;
    padding-bottom: 15px;
    border-bottom: 2px solid #f33f3f;
}

.navbar .navbar-toggler-icon {
    background-image: none;
}

.navbar .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #f33f3f;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}

.banner {
    position: relative;
    text-align: center;
    padding-top: 80px;
}

.banner-item-01 {
    padding: 300px 0px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-item-02 {
    padding: 300px 0px;
    background-image: url(../images/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-item-03 {
    padding: 300px 0px;
    background-image: url(../images/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .banner-item {
    max-height: 600px;
}

.banner .text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.banner .text-content h4 {
    color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.banner .text-content h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.owl-banner .owl-dots .owl-dot {
    border-radius: 3px;
}

.owl-banner .owl-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.owl-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: 0.5;
}

.owl-banner .owl-dots .owl-dot:focus {
    outline: none
}

.owl-banner .owl-dots .owl-dot.active {
    background-color: #fff;
    opacity: 1;
}