
.mt-100{
    margin-top: 100px;
}
.mt-200{
    margin-top: 200px;
}

.mt--100{
    margin-top: 0px;
}
.row{
    width: 100%;
}
.card-thongbao{
    width: 90%;
    margin: auto;
}
.thongbao-trai{
    float: left;
    width: 70%;
}
.thongbao-phai{
    float: left;
    width: 30%;
}
.card-conclude p{
    float: right;
}
#our-classes {
    margin-bottom: 0px;
}
