<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waka - Thư viện online miễn phí</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="shortcut icon" href="https://307a0e78.vws.vegacdn.vn/view/v2/image/favicon.png?v=2" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- start header -->
    <div class="rows shadow bg_white">
        <div class="boxcenter">
            <header class="header_big">
                <header class="header_top">
                    <img src="img/logo.png" alt="">
                    <div class="search">
                        <input type="text" placeholder="Tác giả, tác phẩm,....">
                        <button><i class='fas fa-search'></i> Tìm kiếm</button>
                    </div>
                    <div class="user">
                        <a href="#">Đăng ký</a>
                        <a href="#">Đăng nhập</a>
                    </div>
                </header>
                <header class="header_bottom">
                    <nav>
                        <a href="#" class="menu_header">Trang chủ</a>
                        <a href="#" class="menu_header">Sản phẩm</a>
                        <a href="#" class="menu_header">Chia sẻ đọc giả</a>
                        <a href="#" class="menu_header">Toàn cảnh Waka</a>
                        <a href="#" class="menu_header">Tuyển dụng</a>
                        <a href="#" class="menu_header">Diễn đàn</a>
                    </nav>
                </header>
            </header>
        </div>
    </div>
    <!-- end header -->
    <div class="rows mr_top_20px">
        <div class="boxcenter">
            <section class="section2">
                <div class="form-transparent">
                    <div class="form">
                        <div class="sign-up">
                            <h2>ĐĂNG KÝ</h2>
                        </div>
                        <form action="">
                            <label for="">Họ và tên: </label>
                            <input class="box" type="text" placeholder="Nhập tên...">
                            <label for="">Email: </label>
                            <input class="box" type="email" placeholder="Nhập email">
                            <label for="">Tên Đăng Nhập: </label>
                            <input class="box" type="text" placeholder="Tên đăng nhập">
                            <label for="">Mật Khẩu: </label>
                            <input class="box" type="password" placeholder="Nhập mật khẩu">
                            <input class="submit" type="submit" value="Đăng Ký">
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <!-- start quote -->
    <div class="rows bg_green mr_top_20px">
        <div class="boxcenter">
            <div class="quote">
                <p>__KHI LỖI THUỘC VỀ NHỮNG VÌ SAO, John Green__</p>
                <p>Đôi khi, bạn đọc một quyển sách và nó đong đầy trong bạn những nhiệt huyết kì lạ, và bạn trở nên chắc chắn rằng thế giới sụp đổ sẽ không bao giờ có thể trở về như cũ trừ khi và mãi đến khi tất thảy mọi người đọc cuốn sách này.
                </p>
            </div>
        </div>
    </div>
    <!-- end quote -->
    <!-- start footer -->
    <div class="rows bg_white">
        <div class="boxcenter">
            <div class="footer">
                <div class="inf_huuich">
                    <h3>THÔNG TIN HỮU ÍCH</h3><br>
                    <a href="#">Review truyện tranh - Review sách</a><br>
                    <a href="#">Tin Waka</a><br>
                    <a href="#">Giới thiệu chung</a><br>
                    <a href="#">Thỏa thuận sử dụng dịch vụ</a><br>
                    <a href="#">Lendbox.com</a><br>
                    <img src="img/logo.png" alt="">
                </div>
                <div class="inf_lienhe">
                    <h3>THÔNG TIN LIÊN HỆ</h3>
                    <p>Công ty Cổ Phần Waka (Waka Corporation) - Tầng 3, tháp văn phòng quốc tế Hòa Bình, số 106, đường Hoàng Quốc Việt, phường Nghĩa Đô, quận Cầu Giấy, thành phố Hà Nội.</p>
                    <p>ĐKKD số 0108796796 do SKHĐT TP Hà Nội cấp ngày 24/06/2019 | Chịu trách nhiệm nội dung: Ông Đinh Quang Hoàng.</p>
                    <p>Email: support@waka.vn | Tel: 024.37918440.</p>
                    <p>Giấy xác nhận Đăng ký hoạt động phát hành xuất bản phẩm điện tử số 8132/XN-CXBIPH do Cục Xuất bản, In và Phát hành cấp ngày 31/12/2019.</p>
                </div>
                <div class="link_app">
                    <h3>ỨNG DỤNG DI ĐỘNG</h3>
                    <div class="link_app_hdh">
                        <img src="img/android-qr.png" alt="">
                        <p>Hệ điều hành Android</p>
                        <p>Phiên bản ứng dụng: 7.4</p>
                        <p>Ngày đăng: 06/12/2019</p>
                    </div>
                    <div class="link_app_hdh">
                        <img src="img/ios-qr.png" alt="">
                        <p>Hệ điều hành IOS</p>
                        <p>Phiên bản ứng dụng: 7.4</p>
                        <p>Ngày đăng: 06/12/2019</p>
                    </div>
                    <img src="img/bo-cong-thuong.png" width="50%" style="margin-top: 15px;">
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
</body>

</html>