nav.row {
    height: 40px;
    line-height: 40px;
}

.card {
    border: none !important;
}

.card-header {
    border: none !important;
}

header .row {
    height: 50px;
}

footer {
    font-size: 12pt;
    padding: 5px;
    text-align: center;
}

.logo-admin img {
    width: 85%;
    height: 100%;
    object-fit: cover;
}

.user-admin img {
    width: 15%;
}

.user-admin span {
    font-size: 12pt;
}

footer.row {
    min-height: 100px;
}

.noidung {
    min-height: 500px;
}

.table-dm-kv td,
.table-dm-kv th {
    font-size: 12pt;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.table-tb-nd td,
.table-tb-nd th {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

aside {
    width: 20%;
    float: left;
    margin-right: 15px;
    background-color: white;
    height: 600px;
}

main {
    width: calc(80% - 30px);
    float: left;
    margin-right: 15px;
}

.box-add-dm {
    width: calc(30% - 15px);
    float: left;
    margin-right: 15px;
}

.font-card-body a {
    font-size: 11pt;
}

.box-list-dm {
    width: 70%;
    float: left;
}

.content {
    height: 50px;
}

img {
    width: 100%;
}

.bg-input input,
.bg-input textarea,
.bg-input select {
    background-color: #f2f2f2;
}

.trangtongquan {
    width: 100%;
    min-height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box {
    width: 24%;
    height: 150px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    opacity: 1;
    font-weight: bold;
}

.box a {
    color: white !important;
}

.box:nth-child(1) {
    background-color: rgb(187, 63, 63);
}

.box:nth-child(2) {
    background-color: rgb(59, 59, 150);
}

.box:nth-child(3) {
    background-color: rgb(47, 167, 47);
}

.box:nth-child(4) {
    background-color: rgb(197, 197, 46);
}