#preloader {
    overflow: hidden;
    background: #f33f3f;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    animation-delay: 0.66666s;
}

@keyframes jumper {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

nav.row {
    height: 40px;
    line-height: 40px;
}

.card {
    border: none !important;
}

.card-header {
    border: none !important;
}

header .row {
    height: 50px;
}

footer {
    font-size: 12pt;
    padding: 5px;
    text-align: center;
}

.logo-admin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-admin img {
    width: 18%;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.user-admin span {
    font-size: 12pt;
}

footer.row {
    min-height: 100px;
}

.noidung {
    min-height: 500px;
}

.table-dm-kv td,
.table-dm-kv th {
    font-size: 12pt;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.table-tb-nd td,
.table-tb-nd th {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 11px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

aside {
    width: 20%;
    float: left;
    margin-right: 15px;
    background-color: white;
    height: 600px;
}

main {
    width: calc(80% - 30px);
    float: left;
    margin-right: 15px;
}

.box-add-dm {
    width: calc(30% - 15px);
    float: left;
    margin-right: 15px;
}

.font-card-body a {
    font-size: 11pt;
}

.box-list-dm {
    width: 70%;
    float: left;
}

.content {
    height: 50px;
}

img {
    width: 100%;
}

.bg-input input,
.bg-input textarea,
.bg-input select {
    background-color: #f2f2f2;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.huge1 {
    font-size: 70px;
}