nav.row {
    height: 40px;
    line-height: 40px;
}

.card {
    border: none !important;
}

.card-header {
    border: none !important;
}

header .row {
    height: 50px;
}

footer {
    font-size: 20pt;
    padding-left: 600px;
    padding-top: 15px;
}

.logo-admin img {
    width: 85%;
    height: 100%;
    object-fit: cover;
}

.user-admin img {
    width: 15%;
}

.user-admin span {
    font-size: 12pt;
}

footer.row {
    min-height: 100px;
}

.noidung {
    min-height: 500px;
}

td,
th {
    font-size: 12pt;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

aside {
    width: 20%;
    float: left;
}

main {
    width: 80%;
    float: left;
}

.box-add-dm {
    width: calc(40% - 20px);
    float: left;
    margin-right: 20px;
}

.box-list-dm {
    width: 60%;
    float: left;
}

.content .row {
    height: 50px;
}